<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Emails use the XHTML Strict doctype -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
  <title>Mail</title>
</head>

<body>
  <table class="body">
    <tr>
      <td>
        <center>

          <spacer size="15"></spacer>
          <container class="no-bg">
            <row>
              <columns large="6">
                <p class="tiny-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, tenetur.</p>
              </columns>
              <columns large="6">
                <p class="text-right">
                  <a href="#0" class="tiny-text basic-link">View this email in your browser</a></p>

              </columns>
            </row>
          </container>

          <table>
            <tbody>
              <tr>
                <td>
                  <img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/68bac409-eb07-449d-aa4e-02f4d20ea883.jpg" alt="Summer 2017">
                </td>
              </tr>
            </tbody>
          </table>
          <spacer size="15"></spacer>
          <container>
            <row>
              <columns>
                  <spacer size="40"></spacer>
                <p class="main-sub-heading text-center">Meet the</p>
                <h1 class="main-heading text-center">Cult Collection</h1>
                  <spacer size="40"></spacer>
                <p class="main-body-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem recusandae, illo atque debitis consectetur ipsum velit obcaecati cumque harum dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, delectus laboriosam dolore? Nemo dolores distinctio officiis accusamus aspernatur, eum dolorem.</p>
                <spacer size="30"></spacer>
                <center>
                <button href="#0">Shop now</button>
                </center>
              </columns>
            </row>
          </container>

          

        </center>
      </td>
    </tr>
  </table>
</body>

</html>
